# OS / editor
.vscode/
.DS_Store
Thumbs.db

# TPT / app artifacts (best-effort)
*.log
*.tmp
*.swp
*.swo

# Build outputs
/dist/
/build/
/out/

# Python
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
package-lock.json

layer4_tptr/target/debug/incremental/tptr_core-1191vzykkgmzw/s-hjv0y2ebrk-1yn8fws-2q2knx59d2b49tx9e303fj7v8/6ezie4hgbq3bdq02y7ibhofjh.o
